.contact {
  width: 100%;
  height: calc(100vh - 11vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/landing.png);
  background-size: contain;
  background-position: center;
}

.contact form {
  background-color: white;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .contact {
    background-size: 150% 100%;
  }
}
